.book {
  width: 200px;
  min-height: 50px;
  background-color: beige;
  margin: 15px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.booklist{
  display: flex;
  flex-wrap: wrap;
}

.image{
  width: 128px;
  height: 182px;
}

.add-book{
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.add-book-title{
  margin-right: 20px;
}